{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard 2</title>

<!-- Fontfaces CSS -->
<link href="{% static 'css/css/font-face.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

<!-- Bootstrap CSS -->
<link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

<!-- Vendor CSS -->
<link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/vector-map/jqvmap.min.css' %}" rel="stylesheet" media="all">


    <!-- Main CSS-->
    <link href="{% static 'css/css/theme.css' %}" rel="stylesheet" media="all">


</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'images/images/icon/logo2.png' %}" alt="CoolAdmin" />
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="rounded-circle mx-auto d-block">
                        <img src="{% if request.user.player.img %}{{ request.user.player.img.url|safe }}{% else %}{% static 'images/default_avatar.png' %}{% endif %}" alt="Profile Image" />
                    </div>
                    <h4 class="name">{{ request.user.player.first_name }} {{ request.user.player.last_name }}</h4>
                    <a href="logout">Sign out</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="{% url 'player' %}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="{% url 'player_profile' %}">
                                <i class="fas fa-trophy"></i>Profile
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'playerperformance' player_id=request.user.email %}">
                                <i class="fas fa-chart-bar"></i> Performance
                            </a>
                        </li>
                        
                        <li>
                            <a href="{%url 'playertraining'%}">
                                <i class="fas fa-comments"></i>Training</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="{% url 'match_list2' %}">
                                <i class="fas fa-copy"></i>Match Schedule
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="#">
                                    <img src="{% static 'images/images/icon/logo2.png' %}" alt="CoolAdmin" />
                                </a>
                            </div>
                            <div class="header-button2">
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'images/icon/logo-white.png' %}" alt="Cool Admin" />

                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="image img-cir img-120">
                            <img src="images/icon/avatar-big-01.jpg" alt="John Doe" />
                        </div>
                        <h4 class="name">john doe</h4>
                        <a href="#">Sign out</a>
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <a class="js-arrow" href="player">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                </a>
                            </li>
                       
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END HEADER DESKTOP-->

            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">You are here:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <a href="#">Home</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Dashboard</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">


                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                            <tr>
                                <th>Venue</th>
                                <th>Date</th>
                                <th>Start time</th>
                                <th>End time</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for training_session in training_sessions %}

                            <tr>
                                <td>{{ training_session.venue }}</td>
                                <td>{{ training_session.date }}</td>
                                <td>{{ training_session.start_time }}</td>
                                <td>{{ training_session.end_time }}</td>
                                <td>{{ training_session.status }}</td>

                            </tr>
                            {% endfor %}

                        </tbody>
                        </table>
                        <a href="{% url 'generate_training_pdf' %}" target="_blank">Download PDF</a>

                    </div>
                </div>
            </div>


    </div>

<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
<!-- Vendor JS       -->
<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}"></script>
<script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!-- Main JS-->
<script src="{% static 'js/js/main.js' %}"></script>
    

</body>

</html>
<!-- end document-->
