/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;

}
form {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    /* Center vertically and horizontally */
    margin-top: 8%;
}
/* Style the sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #444;
}

/* Style the content area */
.content {
    margin-left: 250px;
    padding: 20px;
}

header {
    background-color: #444;
    padding: 10px;
}

header h2 {
    color: #fff;
}

main {
    padding: 20px;
}
